<h3>Add form</h3>
<div ng-controller="addController">
    <form name="form" role="form" ng-model="form" novalidate>
        <div class="form-group">
            <label for="name">Name:</label>
            <span class="label label-danger" ng-show="submitted && form.name.$error.required">Required!</span>
            <span class="label label-danger" ng-show="submitted && form.name.$error.string && !form.name.$error.required">The name should contain English symbols, two words (' '), min 4 symbols and first letter in uppercase of the word, only letters!</span>
            <input type="text" name="name" class="form-control" ng-model="addForm.name" validate-string required/>
        </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <span class="label label-danger" ng-show="submitted && form.age.$error.required">Required!</span>
            <span class="label label-danger" ng-show="submitted && form.age.$error.age && !form.age.$error.required">The number must be more than 18 and less than 65!</span>
            <input type="number" class="form-control" name="age" ng-model="addForm.age" validate-integer required/>
        </div>

        <div class="form-group">
            <label for="date">Date:</label>
            <span class="label label-danger" ng-show="submitted && form.date.$error.required">Required!</span>
            <span class="label label-danger" ng-show="submitted && form.date.$error.date && !form.date.$error.required">The Date must be in format YYYY/MM/DD!</span>
            <input type="text" name="date" class="form-control" ng-model="addForm.date" validate-date required/>
        </div>

        <button ng-click="submit(addForm)" class="btn btn-primary">Submit</button>
    </form>
</div>