<div class="panel panel-default" ng-controller="listsController">
    <div class="panel-heading"><b>Lists</b></div>
    <table class="table">
        <tr class="success">
            <th>Name</th>
            <th>Age</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="list in lists">
            <td>{{list.name}}</td>
            <td>{{list.age}}</td>
            <td>{{list.date}}</td>
        </tr>
    </table>
</div>
<button ui-sref="addView" class="btn">Add more</button>